* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  width: 1134px;
  margin: 0 auto;
}

.title-app {
  text-align: center;
}

.form-filter {
  margin: 0 auto;
  width: 900px;
}